@model SearchRestaurantsQueryModel
@{
    ViewData["Title"] = "All Restaurants";

}

<form method="get">
    <div class="row mb-5">
        <div class="form-group col-md-4">
            <div class="mb-3 form-group">
                <label asp-for="CuisineType"></label>
                <select asp-for="CuisineType" class="form-control">
                    <option value="">All</option>
                    @foreach (var cuisine in Model.CuisineTypes)
                    {
                        <option value="@cuisine">@cuisine</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Restaurant or Dish">
        </div>
        <div class="col-md-3 form-group">
            <label asp-for="Sorting"></label>
            <select asp-for="Sorting" class="form-control">
                <option value="0" selected>Last Added</option>
                <option value="1">Best Match</option>
                <option value="2">Rating</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <input class="btn btn-dark d-none" type="submit" value="Search" />
        </div>

    </div>
</form>

<div class="mb-5"></div>

<div class="row">
    @foreach (var restaurant in Model.Restaurants)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@restaurant.RestaurantImage" alt="@restaurant.Name">
                <div class="card-body text-center">
                    <h5 class="card-title">@restaurant.Name</h5>
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        @restaurant.Rating
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-heading" viewBox="0 0 16 16">
                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                            <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z" />
                        </svg>
                        @restaurant.Category
                    </li>
                    <li class="list-group-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                        </svg>
                        @restaurant.DeliveryTime
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-bicycle" viewBox="0 0 16 16">
                            <path d="M4 4.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1v.5h4.14l.386-1.158A.5.5 0 0 1 11 4h1a.5.5 0 0 1 0 1h-.64l-.311.935.807 1.29a3 3 0 1 1-.848.53l-.508-.812-2.076 3.322A.5.5 0 0 1 8 10.5H5.959a3 3 0 1 1-1.815-3.274L5 5.856V5h-.5a.5.5 0 0 1-.5-.5zm1.5 2.443-.508.814c.5.444.85 1.054.967 1.743h1.139L5.5 6.943zM8 9.057 9.598 6.5H6.402L8 9.057zM4.937 9.5a1.997 1.997 0 0 0-.487-.877l-.548.877h1.035zM3.603 8.092A2 2 0 1 0 4.937 10.5H3a.5.5 0 0 1-.424-.765l1.027-1.643zm7.947.53a2 2 0 1 0 .848-.53l1.026 1.643a.5.5 0 1 1-.848.53L11.55 8.623z" />
                        </svg>
                        @restaurant.DeliveryCost
                    </li>
                    <li class="list-group-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                        </svg>
                        @restaurant.MinOrderAmount lv.
                    </li>
                </ul>
                <div class="card-body">
                    <a asp-controller="Restaurant" asp-action="Details" asp-route-id="@restaurant.Id" class="btn btn-dark">Show more</a>
                </div>
            </div>
        </div>

    }
</div>

@{
    var previousPage = Model.CurrentPage - 1;
    var pages = Math.Ceiling((double)Model.TotalRestairants / SearchRestaurantsQueryModel.RestaurantsPerPage);

    if (previousPage < 1)
    {
        previousPage = 1;
    }
}
<div class="row">
    <div class="col-md-6">
        <a class="offset-1 btn btn-dark @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Restaurant"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-cuisineType="@Model.CuisineType"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">Previous Page</a>
    </div>
    <div class="col-md-6">
        <a class="offset-9 btn btn-dark @(Model.CurrentPage == pages ? "disabled" : string.Empty)"
           asp-controller="Restaurant"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage+1)"
           asp-route-currentPage="@previousPage"
           asp-route-cuisineType="@Model.CuisineType"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">Next Page</a>

    </div>
</div>
