@using FoodDeliveryApp.Services.Restaurants.Models
@model RestaurantDetailsModel
@{
    ViewData["Title"] = "Restaurant Details";
}

<h2 class="text-center">@Model.Name</h2>

<div class="nav-scroller bg-body shadow-sm">
    <nav class="nav" aria-label="Secondary navigation">
@foreach (var menu in Model.Menus)
{
     <a class="nav-link" href="#">Explore</a>
}
        <a class="nav-link text-dark" asp-controller="Dish" asp-action="">Explore</a>
        <a class="nav-link" href="#">Suggestions</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link" href="#">Link</a>
    </nav>
</div>
<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <img class="card-img-top" src="@Model.RestaurantImage" alt="@Model.Name">
                <p class="lead text-muted">@Model.Description</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            @foreach (var dish in Model.Dishes)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top" src="@dish.DishImage" alt="@dish.Name">

                        <div class="card-body">
                            <p class="card-text">@dish.Descriprion</p>
                            <p class="card-text">@dish.Price lv.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>